<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.edeasy">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/main_yellow_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_yellow_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Dashboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavDrawer"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW"/> -->
            <!-- <category android:name="android.intent.category.BROWSABLE"/> -->
            <!-- <data android:host="www.google.com" android:scheme="http"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".TodaysRoutine" />
        <activity
            android:name=".PreviousResults"
            android:label="Previous Results"
            android:theme="@style/AppTheme" />
        <activity android:name=".AccountProfile" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Chatroom"
            android:label="@string/title_activity_chatroom" />
        <activity android:name=".CurrentRoutine" />
        <activity android:name=".CurrentMarksheet"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CourseMaterials" />
        <activity android:name=".CalendarDisplay" />
        <activity
            android:name=".NotificationsDisplay"
            android:label="Notifications"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>